<md-card *ngIf="!loading">
  <md-card-title>Gestionar proyecto</md-card-title>

  <md-divider></md-divider>

  <md-card-content>
    <td-data-table [data]="basicData" [columns]="columns">
      <ng-template tdDataTableTemplate="type" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{value}}</span> // or <span flex>{{row[column]}}</span>
          <md-icon>star</md-icon>
        </div>
      </ng-template>
    </td-data-table>
  </md-card-content>
</md-card>

<div *ngIf="loading" layout="row" layout-margin layout-align="center center">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
