<td-layout-nav-list #navList
      logo="assets:logo"
      navigationRoute="/"
      [opened]="isDesktop"
      [mode]="sidenavMode"
      [sidenavWidth]="sidenavWidth">

  <div td-toolbar-content layout="row" flex>
    <button
        [routerLink]="['/admin', 'projects']"
        md-icon-button mdTooltip="Administración">
      <md-icon>web</md-icon>
    </button>

    <button *ngIf="!media.query('gt-sm')"
        md-icon-button
        mdTooltip="Proyectos"
        [mdMenuTriggerFor]="projectMenu">
      <md-icon>view_list</md-icon>
    </button>
    <button *ngIf="media.query('gt-sm')" md-button [mdMenuTriggerFor]="projectMenu">
      <md-icon>view_list</md-icon>
      PROYECTOS
    </button>
    <md-menu #projectMenu="mdMenu">
      <button md-menu-item (click)="selectProject()">
        <span>John Jarana</span>
      </button>
    </md-menu>

    <button
        *ngIf="selectedProject"
        md-icon-button
        mdTooltip="Configurar proyecto">
      <md-icon>settings</md-icon>
    </button>

    <span flex></span>

    <a href="https://appear.in/idee" target="_blank" md-icon-button mdTooltip="Chat">
      <md-icon>group</md-icon>
    </a>

    <button md-icon-button mdTooltip="Mi cuenta" [routerLink]="['/not-found']">
      <md-icon>account_box</md-icon>
    </button>

    <button md-icon-button mdTooltip="Salir" (click)="logout()">
      <md-icon>directions_run</md-icon>
    </button>

  </div>

  <div td-sidenav-content (click)="!media.query('gt-sm') && navList.close()" >
    <ng-content select="[nav-list]"></ng-content>

    <button id="close-nav-list-btn" md-icon-button (click)="navList.close()">
      <md-icon>chevron_left</md-icon>
    </button>
  </div>

  <ng-content></ng-content>

  <td-layout-footer-inner>
    Optional inner footer
  </td-layout-footer-inner>

</td-layout-nav-list>
