<td-layout #layout>
    <td-navigation-drawer logo="assets:logo" name="Usuario" email="usuario@admin.com">
        <md-nav-list>
          <template let-item let-last="last" ngFor [ngForOf]="routes">
            <a *ngIf="item.route[0]"
                md-list-item
                [routerLink]="item.route"
                (click)="layout.close()">
              <md-icon>{{item.icon}}</md-icon>
              {{item.title}}
            </a>
          </template>
        </md-nav-list>
        <md-nav-list td-navigation-drawer-menu>
          <a md-list-item (click)="logout()">
            <md-icon>exit_to_app</md-icon>
            Salir
          </a>
        </md-nav-list>
    </td-navigation-drawer>

    <td-layout-nav logo="assets:logo">

      <div td-toolbar-content layout="row" layout-align="start center" flex>
        <span flex></span>
        <button md-icon-button
            mdTooltip="Salir"
            (click)="logout()">
          <md-icon class="md-24">exit_to_app</md-icon>
        </button>
      </div>

      <td-layout-manage-list #manageList
          [opened]="media.registerQuery('gt-sm') | async"
          [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
          [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '85%'">

        <md-toolbar td-sidenav-content>
          <ng-content select="[sidenav-title]"></ng-content>
        </md-toolbar>
        <ng-content td-sidenav-content select="[sidenav]"></ng-content>
        <ng-content td-toolbar-content select="[toolbar]"></ng-content>

        <ng-content></ng-content>

      </td-layout-manage-list>

    </td-layout-nav>
</td-layout>
