<div layout="row" layout-margin layout-align="center center">
  <md-card flex-gt-sm="50" flex-gt-md="30" flex-xs>
    <md-card-title>Login</md-card-title>
    <md-card-subtitle>Ingrese usuario y contraseña</md-card-subtitle>

    <md-card-content>
      <form [formGroup]="loginForm">

        <div layout="row" layout-margin>
          <md-input-container flex>
            <input
                mdInput
                placeholder="Usuario"
                formControlName="username">
          </md-input-container>
        </div>

        <div layout="row" layout-margin>
          <md-input-container flex>
            <input
                mdInput
                type="password"
                placeholder="Contraseña"
                formControlName="password">
          </md-input-container>
        </div>

      </form>
    </md-card-content>

    <md-divider></md-divider>

    <md-card-actions>
      <div layout="row" layout-margin layout-align="end center">
        <button
            md-raised-button
            (click)="login()"
            [disabled]="!loginForm.valid"
            color="primary"
            class="text-upper">
          Entrar
        </button>
      </div>
    </md-card-actions>
  </md-card>
</div>
