<md-tab-group>
  <md-tab label="Tab 1">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 1">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 1">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 1">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 1">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 1">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Tab 2">
    <md-card>
      <md-card-content>
        <p>
          contacts works!
        </p>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>
